/*作者：coder11;
time:20160719;*/

*{
	margin: 0;
	padding: 0;
}

*,:after,:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

a{
	color: #009a61;
	text-decoration: none;
	background: transparent;
}

a,a:active,a:foucs,a:hover{
	outline: 0;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

h3,.h3{
	font-size: 24px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
}

td, th {
  padding: 0;
}

th {
  text-align: left;
}

.text-muted {
  color: #777;
}

.mt30 {
  margin-top: 30px !important;
}

.ml10, .ml-10 {
  margin-left: 10px;
}

.btn-primary {
  color: #fff;
  background-color: #009a61;
  border-color: #008151;
}

.btn {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.btn:hover, .btn:focus {
  color: #333;
  text-decoration: none;
}

.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #006741;
  border-color: #00432a;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 3px;
}

.wrap{
	padding-bottom: 30px;
	position: relative;
}

/*文章标题样式*/
.post-topheader{
	padding: 20px 0;
	background-color: #f6f6f6;
}

.post-topheader__title--icon-symbol{
	vertical-align: top;
	text-align: center;
	display: block;
	float: left;
	background: rgba(0,154,96,0);
	border: 1px solid #009a61;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 16px;
	padding: 4px;
	width: 28px;
	height: 28px;
	color: #009a61;
	font-weight: 400;
	margin-right: 10px;
	line-height: 1;
}

.post-topheader__info{
	color: #999;
	margin-left: 40px;
	margin-bottom: -5px;
}

.post-topheader__info--title{
	margin: 0;
}

.post-topheader__info--title a, .post-topheader__info--title a:active, .post-topheader__info--title a:hover{
	color: #333;
	text-decoration: none;
}

.event-summary__info td, .event-summary__info th {
  padding-bottom: 5px;
  vertical-align: top;
}

.event-summary__info th {
  width: 75px;
  color: #666;
  font-weight: 400;
}

.event-summary {
  margin: 0;
  background: #f3f3f3;
}

.event-summary__pic {
  margin-left: -15px;
}

.event-summary__map {
  margin-left: 15px;
  padding: 0;
  border-left: 1px dashed #ddd;
}

/*event-summary-info 活动详情样式*/

.event-summary__info {
  padding-top: 25px;
}

.event-summary__info tr:last-child td {
  padding: 15px 0 10px;  
}
